/** -- Pie donut -- **/
.tox-progress {
  position: relative;
}

.tox-progress .radial-outer, .tox-progress .radial-inner {
  border-radius: 50%;
}

.tox-progress .radial-inner, .tox-progress .radial-mask-1, .tox-progress .radial-mask-2,
.tox-progress .radial-mask-3, .tox-progress .tox-progress-content {
  position: relative;
}

.tox-progress .radial-mask-1, .tox-progress .radial-mask-2, .tox-progress .radial-mask-3 {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.tox-progress .radial-mask-1, .tox-progress .radial-mask-3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tox-progress .radial-mask-2 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
/*# sourceMappingURL=chart.css.map */