.bg-primary { background-color: $primary;}
.bg-secundary{ background-color: $secundary;}

.bg-success{ background-color: $success;} 

.warning-rga{ background-color: $warning-rgb !important}
.bg-warning{ background-color: $warning !important}

.bg-error{ background-color: $error !important}
.bg-error-hover{ background-color: $error-hover  !important}

.bg-info{ background-color: $info !important}
.bg-info-hover{ background-color: $info-hover !important}

.bg-process{ background-color: $process}

.bg-white{ background-color: $white}
.bg-black{ background-color: $black}

.bg-transparent{ background-color: transparent !important}

.bg-red{ background-color: $red }
.bg-red-50{ background-color: $red-50 }
.bg-red-100{ background-color: $red-100 }
.bg-red-200{ background-color: $red-200 }
.bg-red-300{ background-color: $red-300  }
.bg-red-400{ background-color: $red-400   }
.bg-red-500{ background-color: $red-500   }
.bg-red-600{ background-color: $red-600   }
.bg-red-700{ background-color: $red-700  }
.bg-red-800{ background-color: $red-800   }
.bg-red-900{ background-color: $red-900 }
.bg-red-A100{ background-color: $red-A100 }
.bg-red-A200{ background-color: $red-A200 }
.bg-red-A400{ background-color: $red-A400 }
.bg-red-A700 { background-color: $red-A700 }

.bg-pink{ background-color: $pink }
.bg-pink-gradient{ background-color: $pink-gradient }
.bg-pink-rgb{ background-color: $pink-rgb }
.bg-pink-50{ background-color: $pink-50 }
.bg-pink-100{ background-color: $pink-100 }
.bg-pink-200{ background-color: $pink-200 }
.bg-pink-300{ background-color: $pink-300 }
.bg-pink-400{ background-color: $pink-400 }
.bg-pink-500{ background-color: $pink-500 }
.bg-pink-600{ background-color: $pink-600 }
.bg-pink-700{ background-color: $pink-700 }
.bg-pink-800{ background-color: $pink-800 }
.bg-pink-900{ background-color: $pink-900 }
.bg-pink-A100{ background-color: $pink-A100 }
.bg-pink-A200{ background-color: $pink-A200 }
.bg-pink-A400{ background-color: $pink-A400 }
.bg-pink-A700{ background-color: $pink-A700 }
.card.bg-pink,.card .card-header-pink .card-icon,.card .card-header-pink .card-text,.card .card-header-pink:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-pink .back,.card.card-rotate.bg-pink .front{
    background: linear-gradient(60deg, $pink-300, $pink); }
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text){
    box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $purple-rgba; }
.card .card-header-pink .card-icon,.card .card-header-pink .card-text,.card .card-header-pink:not(.card-header-icon):not(.card-header-text){
    box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $pink-rgba; }

.bg-purple{ background-color: $purple }
.bg-purple-50{ background-color: $purple-50 }
.bg-purple-100{ background-color: $purple-100 }
.bg-purple-200{ background-color: $purple-200 }
.bg-purple-300{ background-color: $purple-300 }
.bg-purple-400{ background-color: $purple-400 }
.bg-purple-500{ background-color: $purple-500 }
.bg-purple-600{ background-color: $purple-600 }
.bg-purple-700{ background-color: $purple-700 }
.bg-purple-800{ background-color: $purple-800 }
.bg-purple-900{ background-color: $purple-900 }
.bg-purple-A100{ background-color: $purple-A100 }
.bg-purple-A200{ background-color: $purple-A200 }
.bg-purple-A400{ background-color: $purple-A400 }
.bg-purple-A700{ background-color: $purple-A700 }


.bg-deepPurple{ background-color: $deepPurple }
.bg-deepPurple-50{ background-color: $deepPurple-50 }
.bg-deepPurple-100{ background-color: $deepPurple-100 }
.bg-deepPurple-200{ background-color: $deepPurple-200 }
.bg-deepPurple-300{ background-color: $deepPurple-300 }
.bg-deepPurple-400{ background-color: $deepPurple-400 }
.bg-deepPurple-500{ background-color: $deepPurple-500 }
.bg-deepPurple-600{ background-color: $deepPurple-600 }
.bg-deepPurple-700{ background-color: $deepPurple-700 }
.bg-deepPurple-800{ background-color: $deepPurple-800 }
.bg-deepPurple-900{ background-color: $deepPurple-900 }
.bg-deepPurple-A100{ background-color: $deepPurple-A100 }
.bg-deepPurple-A200{ background-color: $deepPurple-A200 }
.bg-deepPurple-A400{ background-color: $deepPurple-A400 }
.bg-deepPurple-A700{ background-color: $deepPurple-A700 }


.bg-indigo{ background-color: $indigo }
.bg-indigo-50{ background-color: $indigo-50 }
.bg-indigo-100{ background-color: $indigo-100 }
.bg-indigo-200{ background-color: $indigo-200 }
.bg-indigo-300{ background-color: $indigo-300 }
.bg-indigo-400{ background-color: $indigo-400 }
.bg-indigo-500{ background-color: $indigo-500 }
.bg-indigo-600{ background-color: $indigo-600 }
.bg-indigo-700{ background-color: $indigo-700 }
.bg-indigo-800{ background-color: $indigo-800 }
.bg-indigo-900{ background-color: $indigo-900 }
.bg-indigo-A100{ background-color: $indigo-A100 }
.bg-indigo-A200{ background-color: $indigo-A200 }
.bg-indigo-A400{ background-color: $indigo-A400 }
.bg-indigo-A700{ background-color: $indigo-A700  }


.bg-blue{ background-color: $blue }
.bg-blue-rgb{ background-color: $blue-rgb }
.bg-blue-rgb-2{ background-color: $blue-rgb-2 }
.bg-blue-50{ background-color: $blue-50 }
.bg-blue-100{ background-color: $blue-100 }
.bg-blue-200{ background-color: $blue-200 }
.bg-blue-300{ background-color: $blue-300 }
.bg-blue-400{ background-color: $blue-400 }
.bg-blue-500{ background-color: $blue-500 }
.bg-blue-600{ background-color: $blue-600 }
.bg-blue-700{ background-color: $blue-700 }
.bg-blue-800{ background-color: $blue-800 }
.bg-blue-900{ background-color: $blue-900 }
.bg-blue-A100{ background-color: $blue-A100 }
.bg-blue-A200{ background-color: $blue-A200 }
.bg-blue-A400{ background-color: $blue-A400 }
.bg-blue-A700{ background-color: $blue-A700 }
.card.bg-blue,.card .card-header-blue .card-icon,.card .card-header-blue .card-text,.card .card-header-blue:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-blue .back,.card.card-rotate.bg-blue .front
    {background: linear-gradient(60deg, $blue-300, $blue)}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $blue-rgba}
.card .card-header-blue .card-icon,.card .card-header-blue .card-text,.card .card-header-blue:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $blue-rgba-2}    

.bg-lightBlue{ background-color: $lightBlue }
.bg-lightBlue-50{ background-color: $lightBlue-50 }
.bg-lightBlue-100{ background-color: $lightBlue-100 }
.bg-lightBlue-200{ background-color: $lightBlue-200 }
.bg-lightBlue-300{ background-color: $lightBlue-300 }
.bg-lightBlue-400{ background-color: $lightBlue-400  }
.bg-lightBlue-500{ background-color: $lightBlue-500 }
.bg-lightBlue-600{ background-color: $lightBlue-600 }
.bg-lightBlue-700{ background-color: $lightBlue-700 }
.bg-lightBlue-800{ background-color: $lightBlue-800 }
.bg-lightBlue-900{ background-color: $lightBlue-900 }
.bg-lightBlue-A100{ background-color: $lightBlue-A100 }
.bg-lightBlue-A200{ background-color: $lightBlue-A200 }
.bg-lightBlue-A400{ background-color: $lightBlue-A400 }
.bg-lightBlue-A700{ background-color: $lightBlue-A700 }


.bg-clyan{ background-color: $clyan }
.bg-clyan-50{ background-color: $clyan-50 }
.bg-clyan-100{ background-color: $clyan-100 }
.bg-clyan-200{ background-color: $clyan-200 }
.bg-clyan-300{ background-color: $clyan-300 }
.bg-clyan-400{ background-color: $clyan-400 }
.bg-clyan-500{ background-color: $clyan-500 }
.bg-clyan-600{ background-color: $clyan-600 }
.bg-clyan-700{ background-color: $clyan-700 }
.bg-clyan-800{ background-color: $clyan-800 }
.bg-clyan-900{ background-color: $clyan-900 }
.bg-clyan-A100{ background-color: $clyan-A100 }
.bg-clyan-A200{ background-color: $clyan-A200 }
.bg-clyan-A400{ background-color: $clyan-A400 }
.bg-clyan-A700{ background-color: $clyan-A700 }


.bg-teal{ background-color: $teal }
.bg-teal-50{ background-color: $teal-50 }
.bg-teal-100{ background-color: $teal-100 }
.bg-teal-200{ background-color: $teal-200 }
.bg-teal-300{ background-color: $teal-300 }
.bg-teal-400{ background-color: $teal-400 }
.bg-teal-500{ background-color: $teal-500 }
.bg-teal-600{ background-color: $teal-600 }
.bg-teal-700{ background-color: $teal-700 }
.bg-teal-800{ background-color: $teal-800 }
.bg-teal-900{ background-color: $teal-900 }
.bg-teal-A100{ background-color: $teal-A100 }
.bg-teal-A200{ background-color: $teal-A200 }
.bg-teal-A400{ background-color: $teal-A400 }
.bg-teal-A700{ background-color: $teal-A700 }


.bg-green{ background-color: $green }
.bg-green-50{ background-color: $green-50 }
.bg-green-100{ background-color: $green-100 }
.bg-green-200{ background-color: $green-200 }
.bg-green-300{ background-color: $green-300 }
.bg-green-400{ background-color: $green-400 }
.bg-green-500{ background-color: $green-500 }
.bg-green-600{ background-color: $green-600 }
.bg-green-700{ background-color: $green-700 }
.bg-green-800{ background-color: $green-800 }
.bg-green-900{ background-color: $green-900 }
.bg-green-A100{ background-color: $green-A100 }
.bg-green-A200{ background-color: $green-A200 }
.bg-green-A300{ background-color: $green-A400 }
.bg-green-A700{ background-color: $green-A700 }

.card.bg-green,.card .card-header-green .card-icon,.card .card-header-green .card-text,.card .card-header-green:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-green .back,.card.card-rotate.bg-green .front
    { background: linear-gradient(60deg, $green-300, $green)}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    { box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $green-rgba}
.card .card-header-green .card-icon,.card .card-header-green .card-text,.card .card-header-green:not(.card-header-icon):not(.card-header-text)
    { box-shadow: 0 4px 20px 0 $alpha-rgba-14,0 7px 10px -5px $green-rgba}

.card-header{
    .card-header-green{
        background: linear-gradient(60deg, $green-300, $green)
    }
        
} 
    

.bg-lightGreen{ background-color: $lightGreen }
.bg-lightGreen-50{ background-color: $lightGreen-50 }
.bg-lightGreen-100{ background-color: $lightGreen-100 }
.bg-lightGreen-200{ background-color: $lightGreen-200 }
.bg-lightGreen-300{ background-color: $lightGreen-300 }
.bg-lightGreen-400{ background-color: $lightGreen-400 }
.bg-lightGreen-500{ background-color: $lightGreen-500 }
.bg-lightGreen-600{ background-color: $lightGreen-600 }
.bg-lightGreen-700{ background-color: $lightGreen-700 }
.bg-lightGreen-800{ background-color: $lightGreen-800 }
.bg-lightGreen-900{ background-color: $lightGreen-900 }
.bg-lightGreen-A100{ background-color: $lightGreen-A100 }
.bg-lightGreen-A200{ background-color: $lightGreen-A200 }
.bg-lightGreen-A400{ background-color: $lightGreen-A400 }
.bg-lightGreen-A700{ background-color: $lightGreen-A700 }


.bg-lime{ background-color: $lime }
.bg-lime-50{ background-color: $lime-50 }
.bg-lime-100{ background-color: $lime-100 }
.bg-lime-200{ background-color: $lime-200 }
.bg-lime-300{ background-color: $lime-300 }
.bg-lime-400{ background-color: $lime-400 }
.bg-lime-500{ background-color: $lime-500 }
.bg-lime-600{ background-color: $lime-600 }
.bg-lime-700{ background-color: $lime-700 }
.bg-lime-800{ background-color: $lime-800 }
.bg-lime-900{ background-color: $lime-900 }
.bg-lime-A100{ background-color: $lime-A100 }
.bg-lime-A200{ background-color: $lime-A200 }
.bg-lime-A400{ background-color: $lime-A400 }
.bg-lime-A700{ background-color: $lime-A700 }


.bg-yellow{ background-color: $yellow }
.bg-yellow-rgb{ background-color: $yellow-rgb }
.bg-yellow-rgba{ background-color: rgba($yellow-rgb, $alpha-4) }
.bg-yellow-50{ background-color: $yellow-50 }
.bg-yellow-100{ background-color: $yellow-100 }
.bg-yellow-200{ background-color: $yellow-200 }
.bg-yellow-300{ background-color: $yellow-300 }
.bg-yellow-400{ background-color: $yellow-400 }
.bg-yellow-500{ background-color: $yellow-500 }
.bg-yellow-600{ background-color: $yellow-600 }
.bg-yellow-700{ background-color: $yellow-700 }
.bg-yellow-800{ background-color: $yellow-800 }
.bg-yellow-900{ background-color: $yellow-900 }
.bg-yellow-A100{ background-color: $yellow-A100 }
.bg-yellow-A200{ background-color: $yellow-A200 }
.bg-yellow-A400{ background-color: $yellow-A400 }
.bg-yellow-A700{ background-color: $yellow-A700 }
.card.bg-yellow,.card .card-header-yellow .card-icon,.card .card-header-yellow .card-text,.card .card-header-yellow:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-yellow .back,.card.card-rotate.bg-yellow .front
    {background: linear-gradient(60deg, $yellow, $yellow)}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $yellow-rgba}
.card .card-header-yellow .card-icon,.card .card-header-yellow .card-text,.card .card-header-yellow:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14,0 7px 10px -5px $yellow-rgba-2}


.bg-ambar{ background-color: $ambar }
.bg-ambar-50{ background-color: $ambar-50 }
.bg-ambar-100{ background-color: $ambar-100 }
.bg-ambar-200{ background-color: $ambar-200 }
.bg-ambar-300{ background-color: $ambar-300 }
.bg-ambar-400{ background-color: $ambar-400 }
.bg-ambar-500{ background-color: $ambar-500 }
.bg-ambar-600{ background-color: $ambar-600 }
.bg-ambar-700{ background-color: $ambar-700 }
.bg-ambar-800{ background-color: $ambar-800 }
.bg-ambar-900{ background-color: $ambar-900 }
.bg-ambar-A100{ background-color: $ambar-A100 }
.bg-ambar-A200{ background-color: $ambar-A200 }
.bg-ambar-A400{ background-color: $ambar-A400 }
.bg-ambar-A700{ background-color: $ambar-A700 }
.card.bg-ambar, .card .card-header-ambar .card-icon,.card .card-header-ambar .card-text,.card .card-header-ambar:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-ambar .back, .card.card-rotate.bg-ambar .front
    {background: linear-gradient(40deg, $ambar-300, $ambar) !important}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $ambar-rgba}
.card .card-header-ambar .card-icon,.card .card-header-ambar .card-text,.card .card-header-ambar:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $ambar-rgba-2}

.bg-orange{ background-color: $orange }
.bg-orange-50{ background-color: $orange-50 }
.bg-orange-100{ background-color: $orange-100 }
.bg-orange-200{ background-color: $orange-200 }
.bg-orange-300{ background-color: $orange-300 }
.bg-orange-400{ background-color: $orange-400 }
.bg-orange-500{ background-color: $orange-500 }
.bg-orange-600{ background-color: $orange-600 }
.bg-orange-700{ background-color: $orange-700 }
.bg-orange-800{ background-color: $orange-800 }
.bg-orange-900{ background-color: $orange-900 }
.bg-orange-A100{ background-color: $orange-A100 }
.bg-orange-A200{ background-color: $orange-A100 }
.bg-orange-A400{ background-color: $orange-A100 }
.bg-orange-A700{ background-color: $orange-A100 }


.bg-deepOrange{ background-color: $deepOrange }
.bg-deepOrange-50{ background-color: $deepOrange-50 }
.bg-deepOrange-100{ background-color: $deepOrange-200 }
.bg-deepOrange-200{ background-color: $deepOrange-300 }
.bg-deepOrange-300{ background-color: $deepOrange-400 }
.bg-deepOrange-400{ background-color: $deepOrange-500 }
.bg-deepOrange-500{ background-color: $deepOrange-600 }
.bg-deepOrange-700{ background-color: $deepOrange-700 }
.bg-deepOrange-800{ background-color: $deepOrange-800 }
.bg-deepOrange-900{ background-color: $deepOrange-900 }
.bg-deepOrange-A100{ background-color: $deepOrange-A100 }
.bg-deepOrange-A200{ background-color: $deepOrange-A200 }
.bg-deepOrange-A400{ background-color: $deepOrange-A400 }
.bg-deepOrange-A700{ background-color: $deepOrange-A700 }


.bg-brown{ background-color: $brown }
.bg-brown-50{ background-color: $brown-50 }
.bg-brown-100{ background-color: $brown-100 }
.bg-brown-200{ background-color: $brown-200 }
.bg-brown-300{ background-color: $brown-300 }
.bg-brown-400{ background-color: $brown-400 }
.bg-brown-500{ background-color: $brown-500 }
.bg-brown-600{ background-color: $brown-600 }
.bg-brown-700{ background-color: $brown-700 }
.bg-brown-800{ background-color: $brown-800 }
.bg-brown-900{ background-color: $brown-900 }


.bg-grey{ background-color: $grey }
.bg-grey-50{ background-color: $grey-50 }
.bg-grey-100{ background-color: $grey-100 }
.bg-grey-200{ background-color: $grey-200 }
.bg-grey-300{ background-color: $grey-300 }
.bg-grey-400{ background-color: $grey-400 }
.bg-grey-500{ background-color: $grey-500 }
.bg-grey-600{ background-color: $grey-600 }
.bg-grey-700{ background-color: $grey-700 }
.bg-grey-800{ background-color: $grey-800 }
.bg-grey-900{ background-color: $grey-900 }


.bg-blueGray{ background-color: $blueGray; }
.bg-blueGray-50{ background-color: $blueGray-50; }
.bg-blueGray-100{ background-color: $blueGray-100; }
.bg-blueGray-200{ background-color: $blueGray-200; }
.bg-blueGray-300{ background-color: $blueGray-300; }
.bg-blueGray-400{ background-color: $blueGray-400; }
.bg-blueGray-500{ background-color: $blueGray-500; }
.bg-blueGray-600{ background-color: $blueGray-600; }
.bg-blueGray-700{ background-color: $blueGray-700; }
.bg-blueGray-800{ background-color: $blueGray-800; }
.bg-blueGray-900{ background-color: $blueGray-900; }


a{
    .bg-success:focus,  .bg-success:hover{ background-color: $success; }
    .bg-warning:focus,  .bg-warning:hover{ background-color: $warning-rgb !important; }
    .bg-danger:focus, .bg-danger:hover{ background-color: $error-hover  !important; }
    .bg-info:focus, .bg-info:hover{ background-color: $info-hover !important; }
}
     
button{
    .bg-success:focus, .bg-success:hover{ background-color: $success;}
    .bg-warning:focus, .bg-warning:hover{ background-color: $warning-rgb !important; }
    .bg-error:focus, .bg-error:hover{ background-color: $error-hover  !important; }
    .bg-info:focus, .bg-info:hover{ background-color: $info-hover !important; }
}


        
/* Social Media*/

/* Facebook*/
.bg-facebook{ background-color: $facebook }
.bg-facebook-medium{ background-color: $facebook-medium }
.bg-facebook-lighter-blue{ background-color: $facebook-lighter-blue }
.bg-facebook-lightest-blue{ background-color: $facebook-lightest-blue }
 
.card.bg-facebook,.card .card-header-facebook .card-icon,.card .card-header-facebook .card-text,.card .card-header-facebook:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-facebook .back,.card.card-rotate.bg-facebook .front
    {background: linear-gradient(60deg, $facebook-medium, $facebook)}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $facebook-rgba}
.card .card-header-facebook .card-icon,.card .card-header-facebook .card-text,.card .card-header-facebook:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $facebook-rgba}


    
/* Twitter */
.bg-twitter{ background-color: $twitter }
.bg-twitter-dark-blue{ background-color: $twitter-dark-blue }
.bg-twitter-blue{ background-color: $twitter-blue }
.bg-twitter-verifed-blue{ background-color: $twitter-verifed-blue }
.bg-twitter-bg-blue{ background-color: $twitter-bg-blue }

.card.bg-twitter,.card .card-header-twitter .card-icon,.card .card-header-twitter .card-text,.card .card-header-twitter:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-twitter .back,.card.card-rotate.bg-twitter .front
    {background: linear-gradient(60deg, $twitter-blue, $twitter);}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $twitter-rgba;}
.card .card-header-twitter .card-icon,.card .card-header-twitter .card-text,.card .card-header-twitter:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $twitter-rgba;}


/* youtube */
.bg-youtube{ background-color: $youtube }
.bg-youtube-light{ background-color: $youtube-light }
.bg-youtube-deep{ background-color: $youtube-deep }

.card.bg-youtube,.card .card-header-youtube .card-icon,.card .card-header-youtube .card-text,.card .card-header-youtube:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-youtube .back,.card.card-rotate.bg-youtube .front
    {background: linear-gradient(60deg, $youtube-light, $youtube);}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $youtube-rgba;}
.card .card-header-youtube .card-icon,.card .card-header-youtube .card-text,.card .card-header-youtube:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $youtube-rgba;}



/* linkedin */
.bg-linkedin{ background-color: $linkedin; }

.card.bg-linkedin,.card .card-header-linkedin .card-icon,.card .card-header-linkedin .card-text,.card .card-header-linkedin:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-linkedin .back,.card.card-rotate.bg-linkedin .front
    {background: linear-gradient(60deg, $linkedin-rgb, $linkedin);}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14,0 7px 10px -5px $linkedin-rgba;}
.card .card-header-linkedin .card-icon,.card .card-header-linkedin .card-text,.card .card-header-linkedin:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14,0 7px 10px -5px $linkedin-rgba; }


    
/* instagram */
.bg-instagram{
    background: $instagram-orange;
    background: -moz-linear-gradient(45deg, $instagram-orange 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, $instagram-orange 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, $instagram-orange 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$instagram-orange', endColorstr='#bc1888',GradientType=1 );
}
.card.bg-instagram,.card .card-header-instagram .card-icon,.card .card-header-instagram .card-text,.card .card-header-instagram:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-instagram .back,.card.card-rotate.bg-instagram .front
    //background: linear-gradient(60deg, $instagram-rgb, $instagram)
    {
    background: -moz-linear-gradient(45deg, $instagram-orange 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, $instagram-orange 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, $instagram-orange 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    }

    
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $instagram-rgba}
.card .card-header-instagram .card-icon,.card .card-header-instagram .card-text,.card .card-header-instagram:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $instagram-rgba}


/* pinterest */
.bg-pinterest{ background-color: $pinterest }
.bg-pinterest-light{ background-color: $pinterest-light }

.card.bg-pinterest,.card .card-header-pinterest .card-icon,.card .card-header-pinterest .card-text,.card .card-header-pinterest:not(.card-header-icon):not(.card-header-text),.card.card-rotate.bg-pinterest .back,.card.card-rotate.bg-pinterest .front
    {background: linear-gradient(60deg, $pinterest-rgb, $pinterest);}
.card .card-header-primary .card-icon,.card .card-header-primary .card-text,.card .card-header-primary:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $pinterest-rgba;}
.card .card-header-pinterest .card-icon,.card .card-header-pinterest .card-text,.card .card-header-pinterest:not(.card-header-icon):not(.card-header-text)
    {box-shadow: 0 4px 20px 0 $alpha-rgba-14, 0 7px 10px -5px $pinterest-rgba;}



.ct-chart .ct-label {
    fill: rgb(255, 255, 255) !important;
}
    

/*.card-collapse 
    .card-header 
        a
            &:active
                color: #e91e63
            &:hover
                color: #e91e63
        a[aria-expanded=true]
            color: #e91e63
            */