@import "reset";
@import "mixins";
@import "colors-variables";
@import "variables";
@import "colors";
@import "text";
@import "spacing";
@import "grid";
@import "form";
@import "chart"; 
 
/*   */ 
header {
  background: $accent-color;
  color: $font-color-light;
  font-size: 1.8em;
  margin-bottom: 4%;
  padding: 50px;
  @include angle(after, false, 1.5deg);
}

footer {
  background: $accent-color;
  color: $font-color-light;
  font-size: 1.8em;
  margin-top: 3%;
  @include angle(before, true, 1.5deg);
}

.social-icons a:hover svg{
  fill: #afa;
}

.bold{ font-weight: bold; }
    
 

.cell-td-left{
    text-align: left;
    font-size: 1.063rem;
}
.cell-td-center{
    text-align: center;
    font-size: 1.063rem;
}
.cell-td-right{
    text-align: right;
    font-size: 1.063rem;
}
.card-collapse{
  .table{
    margin-bottom: 0rem !important;
  } 
}
    
.table-title{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0rem;
    background-color: transparent;

    td, th{
        padding: .75rem;
        vertical-align: top;
        border-top: none;
        font-size: 1.063rem;
    }
    thead th{
      vertical-align: bottom;
      border-bottom: none;
    }
    tbody+tbody{
      border-top: 2px solid $alpha-rgba-6;
    } 
    .table{
      background-color: $grey-50;
    }
} 

.table-title>tbody>tr>td,.table-title>tbody>tr>th,.table-title>tfoot>tr>td,.table-title>tfoot>tr>th,.table-title>thead>tr>td,.table-title>thead>tr>th{
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #ddd;
  font-size: .875rem;
}
.table-title thead tr th{
  font-size: 1.063rem;
}
  
input [type=checkbox] {
  display: none;
}
    

input[type=checkbox] {
  display: none;
}


label span {
	background-color: #FFFFFF;
	border-radius: 30px;
    border: 1px solid #00a98f !important;
	font-weight: 700;
	color: #FFF;
	font-size: .85em;
	color:#00a98f;
	text-align: center;
	
	width: 150px;
    height: 30px; 
	
	padding: 7px 0;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	transition: background-color 150ms ease-in;
}

label span:hover {
	background-color: #00a98f ;
	color:#FFFFFF;
}

input[type=checkbox]:checked + span {
	background: #00a98f ;
	background-size: 15px 13px;
	color:#FFFFFF;
}

input[type=checkbox]:checked:hover + span {
	color: rgba(255,255,255,0.5);
	background: #00a98f ;
	background-size: 15px 15px;
}

