/* Margins */
.no-padding {  padding: 0 !important;}
.no-padding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.padding-xl {  padding: $spacing-xl !important; }
.padding-lg {  padding: $spacing-lg !important; }
.padding-md {  padding: $spacing-md !important; }
.padding-sm {  padding: $spacing-sm !important; }
.padding-xs { padding: $spacing-xs !important; }

.padding-vertical-xl {
  padding-top: $spacing-xl !important;
  padding-bottom: $spacing-xs !important;
}
.padding-vertical-lg {
  padding-top: $spacing-lg !important;
  padding-bottom: $spacing-lg !important;
}
.padding-vertical-md {
  padding-top: $spacing-md !important;
  padding-bottom: $spacing-md !important;
}
.padding-vertical-sm {
  padding-top: $spacing-sm !important;
  padding-bottom: $spacing-sm !important;
}
.padding-vertical-xs {
  padding-top: $spacing-xs !important;
  padding-bottom: $spacing-xs !important;
}
.padding-vertical-xxs {
  padding-top: $spacing-xxs !important;
  padding-bottom: $spacing-xxs !important;
}
.padding-top-1 { padding-top: 1px !important; }
.padding-top-2 { padding-top: 2px !important; }
.padding-top-3 { padding-top: 3px !important; }
.padding-top-4 { padding-top: 4px !important; }
.padding-top-5 { padding-top: 5px !important; }
.padding-top-6 { padding-top: 6px !important; }
.padding-top-7 { padding-top: 7px !important; }
.padding-top-8 { padding-top: 8px !important; }
.padding-top-9 { padding-top: 9px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-11 { padding-top: 11px !important; }
.padding-top-12 { padding-top: 12px !important; }
.padding-top-13 { padding-top: 13px !important; }
.padding-top-14 { padding-top: 14px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-top-16 { padding-top: 16px !important; }
.padding-top-17 { padding-top: 17px !important; }
.padding-top-18 { padding-top: 18px !important; }
.padding-top-19 { padding-top: 19px !important; }
.padding-top-20 { padding-top: 20px !important; }
.padding-top-25 { padding-top: 25px !important; }
.padding_top_30 { padding-top: 30px !important; }
.padding_top_35 { padding-top: 35px !important; }
.padding_top_40 { padding-top: 40px !important; }
.padding_top_45 { padding-top: 45px !important; }
.padding_top_50 { padding-top: 50px !important; }
.padding_top_55 { padding-top: 55px !important; }
.padding_top_60 { padding-top: 60px !important; }
.padding_top_65 { padding-top: 65px !important; }
.padding_top_70 { padding-top: 70px !important; }
.padding_top_75 { padding-top: 75px !important; }
.padding_top_80 { padding-top: 80px !important; }
.padding_top_85 { padding-top: 85px !important; }
.padding_top_90 { padding-top: 90px !important; }

.padding_left_70 { padding-left: 70px !important; }
.padding_left_65 { padding-left: 65px !important; }
.padding_left_60 { padding-left: 60px !important; }
.padding_left_55 { padding-left: 55px !important; }
.padding_left_50 { padding-left: 50px !important; }
.padding_left_45 { padding-left: 45px !important; }
.padding_left_40 { padding-left: 40px !important; }
.padding_left_35 { padding-left: 35px !important; }
.padding_left_30 { padding-left: 30px !important; }
.padding_left_25 { padding-left: 20px !important; }
.padding_left_20 { padding-left: 20px !important; }
.padding_left_19 { padding-left: 19px !important; }
.padding_left_18 { padding-left: 18px !important; }
.padding_left_17 { padding-left: 17px !important; }
.padding_left_16 { padding-left: 16px !important; }
.padding_left_15 { padding-left: 15px !important; }
.padding_left_14 { padding-left: 14px !important; }
.padding_left_13 { padding-left: 13px !important; }
.padding_left_12 { padding-left: 12px !important; }
.padding_left_11 { padding-left: 11px !important; }
.padding_left_10 { padding-left: 10px !important; }

.padding_left_9 { padding-left: 9px !important; }
.padding_left_8 { padding-left: 8px !important; }
.padding_left_7 { padding-left: 7px !important; }
.padding_left_6 { padding-left: 6px !important; }
.padding_left_5 { padding-left: 5px !important; }
.padding_left_4 { padding-left: 4px !important; }
.padding_left_3 { padding-left: 3px !important; }
.padding_left_2 { padding-left: 2px !important; }
.padding_left_1 { padding-left: 1px !important; }
.padding_left_0 { padding-left: 0px !important; }

.padding_right_30 { padding-right: 30px !important; }
.padding_right_20 { padding-right: 20px !important; }
.padding_right_19 { padding-right: 19px !important; }
.padding_right_18 { padding-right: 18px !important; }
.padding_right_17 { padding-right: 17px !important; }
.padding_right_16 { padding-right: 16px !important; }
.padding_right_15 { padding-right: 15px !important; }
.padding_right_14 { padding-right: 14px !important; }
.padding_right_13 { padding-right: 13px !important; }
.padding_right_12 { padding-right: 12px !important; }
.padding_right_11 { padding-right: 11px !important; }
.padding_right_10 { padding-right: 10px !important; }
.padding_right_9 { padding-right: 9px !important; }
.padding_right_8 { padding-right: 8px !important; }
.padding_right_7 { padding-right: 7px !important; }
.padding_right_6 { padding-right: 6px !important; }
.padding_right_5 { padding-right: 5px !important; }
.padding_right_4 { padding-right: 4px !important; }
.padding_right_3 { padding-right: 3px !important; }
.padding_right_2 { padding-right: 2px !important; }
.padding_right_1 { padding-right: 1px !important; }

.padding_bottom_30 { padding-bottom: 30px !important; }
.padding_bottom_20 { padding-bottom: 20px !important; }
.padding_bottom_19 { padding-bottom: 19px !important; }
.padding_bottom_18 { padding-bottom: 18px !important; }
.padding_bottom_17 { padding-bottom: 17px !important; }
.padding_bottom_16 { padding-bottom: 16px !important; }
.padding_bottom_15 { padding-bottom: 15px !important; }
.padding_bottom_14 { padding-bottom: 14px !important; }
.padding_bottom_13 { padding-bottom: 13px !important; }
.padding_bottom_12 { padding-bottom: 12px !important; }
.padding_bottom_11 { padding-bottom: 11px !important; }
.padding_bottom_10 { padding-bottom: 10px !important; }
.padding_bottom_9 { padding-bottom: 9px !important; }
.padding_bottom_8 { padding-bottom: 8px !important; }
.padding_bottom_7 { padding-bottom: 7px !important; }
.padding_bottom_6 { padding-bottom: 6px !important; }
.padding_bottom_5 { padding-bottom: 5px !important; }
.padding_bottom_4 { padding-bottom: 4px !important; }
.padding_bottom_3 { padding-bottom: 3px !important; }
.padding_bottom_2 { padding-bottom: 2px !important; }

/* Margins */
.margin-top-xl { margin-top: $spacing-xl !important;}
.margin-top-lg { margin-top: $spacing-lg !important;}
.margin-top-md { margin-top: $spacing-md !important;}
.margin-top-sm { margin-top: $spacing-sm !important;}
.margin-top-xs { margin-top: $spacing-xs !important;}

.margin-top-1 {margin-top: 1px !important; }
.margin-top-2 {margin-top: 2px !important; }
.margin-top-3 {margin-top: 3px !important; }
.margin-top-4 {margin-top: 4px !important; }
.margin-top-5 {margin-top: 5px !important; }
.margin-top-6 {margin-top: 6px !important; }
.margin-top-7 {margin-top: 7px !important; }
.margin-top-8 {margin-top: 8px !important; }
.margin-top-9 {margin-top: 9px !important; }
.margin-top-10 {margin-top: 10px !important; }
.margin-top-11 {margin-top: 11px !important; }
.margin-top-12 {margin-top: 12px !important; }
.margin-top-13 {margin-top: 13px !important; }
.margin-top-14 {margin-top: 14px !important; }
.margin-top-15 {margin-top: 15px !important; }
.margin-top-16 {margin-top: 16px !important; }
.margin-top-17 {margin-top: 17px !important; }
.margin-top-18 {margin-top: 18px !important; }
.margin-top-19 {margin-top: 19px !important; }
.margin-top-20 {margin-top: 20px !important; }
.margin-top-25 {margin-top: 25px !important; }
.margin_top_30 {margin-top: 30px !important; }
.margin_top_35 {margin-top: 35px !important; }
.margin_top_40 {margin-top: 40px !important; }
.margin_top_45 {margin-top: 45px !important; }
.margin_top_50 {margin-top: 50px !important; }
.margin_top_55 {margin-top: 55px !important; }
.margin_top_60 {margin-top: 60px !important; }
.margin_top_65 {margin-top: 65px !important; }
.margin_top_70 {margin-top: 70px !important; }
.margin_top_75 {margin-top: 75px !important; }
.margin_top_80 {margin-top: 80px !important; }
.margin_top_85 {margin-top: 85px !important; }

.margin_top_90 {margin-top: 90px !important; }
.margin_left_70 {margin-left: 70px !important; }
.margin_left_65 {margin-left: 65px !important; }
.margin_left_60 {margin-left: 60px !important; }
.margin_left_55 {margin-left: 55px !important; }
.margin_left_50 {margin-left: 50px !important; }
.margin_left_45 {margin-left: 45px !important; }
.margin_left_40 {margin-left: 40px !important; }
.margin_left_35 {margin-left: 35px !important; }
.margin_left_30 {margin-left: 30px !important; }
.margin_left_25 {margin-left: 20px !important; }
.margin_left_20 {margin-left: 20px !important; }
.margin_left_19 {margin-left: 19px !important; }
.margin_left_18 {margin-left: 18px !important; }
.margin_left_17 {margin-left: 17px !important; }
.margin_left_16 {margin-left: 16px !important; }
.margin_left_15 {margin-left: 15px !important; }
.margin_left_14 {margin-left: 14px !important; }
.margin_left_13 {margin-left: 13px !important; }
.margin_left_12 {margin-left: 12px !important; }
.margin_left_11 {margin-left: 11px !important; }.margin_left_10 {margin-left: 10px !important; }
.margin_left_9 {margin-left: 9px !important; }
.margin_left_8 {margin-left: 8px !important; }
.margin_left_7 {margin-left: 7px !important; }
.margin_left_6 {margin-left: 6px !important; }
.margin_left_5 {margin-left: 5px !important; }
.margin_left_4 {margin-left: 4px !important; }
.margin_left_3 {margin-left: 3px !important; }
.margin_left_2 {margin-left: 2px !important; }
.margin_left_1 {margin-left: 1px !important; }

.margin_left_0 {margin-left: 0px !important; }
.margin_right_30 {margin-right: 30px !important; }
.margin_right_20 {margin-right: 20px !important; }
.margin_right_19 {margin-right: 19px !important; }
.margin_right_18 {margin-right: 18px !important; }
.margin_right_17 {margin-right: 17px !important; }
.margin_right_16 {margin-right: 16px !important; }
.margin_right_15 {margin-right: 15px !important; }
.margin_right_14 {margin-right: 14px !important; }
.margin_right_13 {margin-right: 13px !important; }
.margin_right_12 {margin-right: 12px !important; }
.margin_right_11 {margin-right: 11px !important; }
.margin_right_10 {margin-right: 10px !important; }
.margin_right_9 {margin-right: 9px !important; }
.margin_right_8 {margin-right: 8px !important; }
.margin_right_7 {margin-right: 7px !important; }
.margin_right_6 {margin-right: 6px !important; }
.margin_right_5 {margin-right: 5px !important; }
.margin_right_4 {margin-right: 4px !important; }
.margin_right_3 {margin-right: 3px !important; }
.margin_right_2 {margin-right: 2px !important; }
.margin_right_1 {margin-right: 1px !important; }
.margin_bottom_30 {margin-bottom: 30px !important; }
.margin_bottom_20 {margin-bottom: 20px !important; }
.margin_bottom_19 {margin-bottom: 19px !important; }
.margin_bottom_18 {margin-bottom: 18px !important; }
.margin_bottom_17 {margin-bottom: 17px !important; }
.margin_bottom_16 {margin-bottom: 16px !important; }
.margin_bottom_15 {margin-bottom: 15px !important; }
.margin_bottom_14 {margin-bottom: 14px !important; }
.margin_bottom_13 {margin-bottom: 13px !important; }
.margin_bottom_12 {margin-bottom: 12px !important; }
.margin_bottom_11 {margin-bottom: 11px !important; }
.margin_bottom_10 {margin-bottom: 10px !important; }
.margin_bottom_9 {margin-bottom: 9px !important; }
.margin_bottom_8 {margin-bottom: 8px !important; }
.margin_bottom_7 {margin-bottom: 7px !important; }
.margin_bottom_6 {margin-bottom: 6px !important; }
.margin_bottom_5 {margin-bottom: 5px !important; }
.margin_bottom_4 {margin-bottom: 4px !important; }
.margin_bottom_3 {margin-bottom: 3px !important; }
.margin_bottom_2 {margin-bottom: 2px !important; }
.margin_bottom_1 {margin-bottom: 1px !important; }
