//Font variables
/*
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
$font-color: #0a0a0a;
$font-color-light: $grey-50;
*/
//Table variables
$table-odd-color: #e4e4e4;

//Grid widths
$grid-width-sm: 768px;
$grid-width-md: 952px;
$grid-width-lg: 1200px;

//Spacing sizes
$spacing-xl: 100px;
$spacing-lg: 75px;
$spacing-md: 50px;
$spacing-sm: 25px;
$spacing-xs: 10px;
$spacing-xxs: 5px;