
.bar-step {
    position:absolute;
    margin-top:-10px;
	z-index:1;
    font-size:12px;
}

.label-txt {
    float: left;
}

.label-line {
    float: right;
    background: #000;
    height:35px;
	width:4px;
}

.label-percent {
    float: right;
    margin-left: 5px;   
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    transition: width .6s ease;
}

.process-bar-marker{
    margin-top: 15px;
    margin-bottom: 20px;

    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef !important;
    border-radius: .25rem !important;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.1) !important;
}


